@using CF_ASP_NET.Models;
@{
    ViewBag.Title = "Home Page";
}

<a id="murl" href="~/" style="display:none"></a>

<div class="dialog-header">
    <img src="~/image/cancel.svg" width="48" height="48" onclick="setMainPage('verify', 0, 'title', 'asc', '')" class="d-inline-block align-top" alt="">
</div>
<div id="dialog-main" class="dialog-main">
    <div class="dialog-main-top">
        <p>姓名</p>
        <p>電話</p>
        <p>銀行代碼</p>
        <p>銀行名稱</p>
        <p>帳戶代碼</p>
        <p>帳戶名稱</p>
        <p>目標金額</p>
        <p>結束時間</p>
        <p>宣傳圖片</p>
    </div>

    @foreach (CfProposalV a in ViewData["DataList"] as List<CfProposalV>)
    {
        <div id="pimage">
        </div>
        <div class="dialog-main-mid">
            <label>@a.title</label>
            <p>@a.introduction</p>
        </div>
        <div id="content" class="dialog-main-bottom">
        </div>
        <p id="p_id" style="display:none;">@a.proposal</p>
    }
    <div class="col-md-12 dialog-main-bottom-button">
        <div class="col-md-4">
            <button class="w3-button" onclick="post(1)">通過</button>
        </div>
        <div class="col-md-4">
            <button class="w3-button" onclick="post(0)">不通過</button>
        </div>
        <div class="col-md-4">
            <button class="w3-button" onclick="displayDialog()">返回</button>
        </div>
    </div>
</div>

<script>
    function WebpIsSupported(callback) {
        // If the browser doesn't has the method createImageBitmap, you can't display webp format
        if (!window.createImageBitmap) {
            callback(false);
            return;
        }

        // Base64 representation of a white point image
        var webpdata = 'data:image/webp;base64,UklGRiQAAABXRUJQVlA4IBgAAAAwAQCdASoCAAEAAQAcJaQAA3AA/v3AgAA=';

        // Retrieve the Image in Blob Format
        fetch(webpdata).then(function (response) {
            return response.blob();
        }).then(function (blob) {
            // If the createImageBitmap method succeeds, return true, otherwise false
            createImageBitmap(blob).then(function () {
                callback(true);
            }, function () {
                callback(false);
            });
        });
    }

    function getContent() {
        var array =
            { "id": $("#p_id").html() }
        $.post(document.getElementById("murl").href + 'bverify/proposalcontent', array,
            function (data) {
                $("#content").html(data);
            }
        );
    }

    function getImage() {
        var array =
            { "id": $("#p_id").html() }
        $.post(document.getElementById("murl").href + 'bverify/proposalimage/' + $("#p_id").html(), array,
            function (data) {
                var obj = JSON.parse(data);
                if (obj.second_name == "webp") {
                    WebpIsSupported(function (isSupported) {
                        if (isSupported) {
                            $("#pimage").html('<img src="' + obj.url + '" style="width:100%;" />');
                        } else {
                            $("#pimage").html('瀏覽器不支援webp');
                        }
                    });
                } else {
                    $("#pimage").html('<img src="' + obj.url + '" style="width:100%;" />');
                }

            }
        );
    }

    //輸入欄位設置檢查動作
    setTimeout(function () {
        getContent();
        getImage();
    }, 100);

    function post(value) {
        if (confirm("是否要進行此操作?")) {
            var array =
                { "p_id": $("#p_id").html(), "value": value }
            $.post(document.getElementById("murl").href + 'bverify/editrun', array,
                function (data) {
                    var obj = JSON.parse(data);
                    alert(obj.ok);
                    setMainPage('verify', 0, 'title', 'asc', '');
                }
            );
        }
    }
</script>
